@charset "UTF-8";

h1 {
	text-align: center;
	color: #880088;
	font-size: 60px;
}

body {
	background-color: #fce3ff;
}
 
 p {
 font-size: 30px;
 color: #80203f;
 
 }
 
 a {
 font-size: 45px;
 color: #093579;
 }
 
